#videotest {
 /* pointer-events: none;*/
  padding: 5px;
  margin: 5px, blue;
  width: 80%;
  height: auto;
}
#BC_load, #playedVideo {
 /* pointer-events: none;*/
  padding: 5px;
  width: 80%;
  height: auto;
}
#playedVideo{
	position: absolute;
	z-index: -1;
}
#BC_load{
	position: relative;
	z-index: -2;
}

#video-container {
   position: absolute;
   z-index: -1;
   width: 100%;
   padding: 0px;
}

#video-message {
	pointer-events: none;
    position: absolute;
    z-index: 0;
	/*color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	width: 80%;*/
	width: 10%;
	top: 35%;
	left: 45%;
	margin: auto;
}
#video-text {
	/*pointer-events: none;*/
    position: absolute;
    z-index: 0;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	width: 68%;
	top: 10%;
	left: 16%;
	margin: auto;
	text-align: left;
	
}
body{
	background-color: #f2f2f2;

}
button{
	position: relative;
	/*background-color: blue;*/
	display: inline-block;
	font-size: 30px;
	margin: auto;
}

#controles{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 0px;
	padding: auto;
}
#validate{
	/*margin-right: 0px;*/
	margin-top: 20px;
}
h1, h2, h3, h4, p{
	font-family: Verdana;
}
h2{
	text-align: center;
}
h4{
	margin: 0px;
}
center{
	margin: 0px;
}
#timeline{
	position: relative;
}
hr.new1{
	border-top: 1px solid black;
}
radio{
	padding: 5px;
}
radio{
	height: 40px;
	width: 10px;
}
input[type=radio] {
    /*border: 0px;*/
    width: 20px;
    height: 2em;
}
#myRange{
	margin: 0px 25px 0px 25px;
}
.slidecontainer {
  width: 70%;
  margin: 0px;
  padding: 0px;
}
.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: grey;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}